<div
  class="card"
  style="width: 20rem"
  [class.border-success]="product.shareable"
  [class.border-warning]="product.archived"
>
  <img height="200" [src]="productCover" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title fs-6 text-nowrap fw-bold mb-1">
      <i class="fa-solid fa-book"></i>&nbsp;{{ product.title }}
    </h5>
    <h5 class="card-subtitle fs-6 text-secondary mb-1">
      <i class="fa-solid fa-user-check"></i>&nbsp;{{ product.brand }}
    </h5>
    <h6 class="card-subtitle fs-6 text-secondary">
      <i class="fas fa-user"></i>&nbsp;{{ product.owner }}
    </h6>
    <div class="d-flex gap-2">
      <app-rating [rating]="product.rating || 0"></app-rating>
      <span class="fw-bold" *ngIf="(product.rating || 0) > 0">
        {{ product.rating }}
      </span>
    </div>
  </div>
  <div
    class="card-footer d-flex gap-2 justify-content-between align-items-center"
  >
    <div class="d-flex gap-2" *ngIf="!manage">
      <i (click)="onShowDetails()" class="fas fa-circle-info text-primary"
        >Details</i
      >
      <i (click)="onBorrow()" class="fas fa-list-check text-primary">Borrow</i>
    </div>
    <div class="d-flex gap-2" *ngIf="manage">
      <i (click)="onEdit()" class="fas fa-edit text-success">Edit</i>
      <i (click)="onShare()" class="fas fa-share-nodes text-primary">Share</i>
      <i (click)="onArchive()" class="fas fa-archive text-danger">Archive</i>
      <i (click)="onDelete()" class="fas fa-archive text-danger">Delete</i>
    </div>
  </div>
</div>
