<div class="container-fluid card login-container">
  <br />
  <h3 class="text-center">Forgot Password</h3>
  <hr />
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>

  <div class="mb-3" *ngIf="!isOtpSend">
    <label for="forgotPassword" class="form-label"
      >Enter the email address
    </label>
    <input
      type="email"
      [(ngModel)]="forgotPasswordRequest.email"
      class="form-control"
      id="forgotPassword"
      placeholder="example"
    />
    <button (click)="forgotPasswordOtp(forgotPasswordRequest.email)">
      Send Activation Code
    </button>
  </div>

  <div *ngIf="isOtpSend">
    <div class="container">
      <div class="text-center" style="width: 500px">
        <h2>Enter your activation code</h2>
        <code-input
          [isCodeHidden]="false"
          [codeLength]="6"
          [code]="'number'"
          (codeCompleted)="onCodeCompleted($event)"
        ></code-input>
        <br />
        <div class="mt-4">
          <p>Didn't receive the code?</p>
          <button
            type="button"
            class="btn btn-primary"
            (click)="resendCode(forgotPasswordRequest.email)"
            [disabled]="resendCooldown > 0"
          >
            <span *ngIf="resendCooldown <= 0"> Resend Activation Code </span>
            <span *ngIf="resendCooldown > 0">
              Resend Activation Code in {{ resendCooldown }}s
            </span>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="isOtpVerified">
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="position-relative d-flex align-items-center">
          <input
            [(ngModel)]="this.resetPasswordRequest.newPassword"
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            id="password"
            placeholder="Password"
          />
          <i
            class="fa"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePassword()"
            style="
              position: absolute;
              right: 15px;
              cursor: pointer;
              color: #6c757d;
            "
          ></i>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Confirm Password</label>
          <div class="position-relative d-flex align-items-center">
            <input
              [(ngModel)]="confirmPassword"
              [type]="showPassword ? 'text' : 'password'"
              class="form-control"
              id="password"
              placeholder="Confirm Password"
            />
            <i
              class="fa"
              [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="togglePassword()"
              style="
                position: absolute;
                right: 15px;
                cursor: pointer;
                color: #6c757d;
              "
            ></i>
          </div>

          <button class="btn btn-success w-10" (click)="resetPassword()">
            Update password
          </button>
        </div>
      </div> 
    </div>
  </div>
  <button class="btn btn-secondary w-10" (click)="backToLoginPage()">
    Back
  </button>
</div>
