<div class="container-fluid card login-container">
  <br />
  <h3 class="text-center">Create an Account</h3>
  <hr />
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="mb-3">
    <label for="firstname" class="form-label">Firstname</label>
    <input
      [(ngModel)]="registerRequest.firstname"
      type="text"
      class="form-control"
      id="firstname"
      placeholder="Firstname"
      #firstnameRef="ngModel"
      minlength="2"
      required
    />
    <div class="text-danger small mt-1" *ngIf="firstnameRef.touched">
      <div *ngIf="firstnameRef.errors?.['required']">
        First Name is required.
      </div>
      <div *ngIf="firstnameRef.errors?.['minlength']">
        Please enter atleast 2 char in firstName.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Lastname</label>
    <input
      [(ngModel)]="registerRequest.lastname"
      type="text"
      class="form-control"
      id="lastname"
      placeholder="Lastname"
      #lastNameRef="ngModel"
      minlength="2"
      required
    />
    <div class="text-danger small mt-1" *ngIf="lastNameRef.touched">
      <div *ngIf="lastNameRef.errors?.['required']">Last Name is required.</div>
      <div *ngIf="lastNameRef.errors?.['minlength']">
        Please enter atleast 2 char in lastName.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      [(ngModel)]="registerRequest.email"
      #emailRef="ngModel"
      required
      email
      type="email"
      class="form-control"
      id="email"
      placeholder="abc@example.com"
    />
    <div
      class="text-danger small mt-1"
      *ngIf="emailRef.invalid && emailRef.touched"
    >
      <div *ngIf="emailRef.errors?.['required']">
        Email address is required.
      </div>
      <div *ngIf="emailRef.errors?.['email']">
        Please enter a valid email address.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <div class="position-relative d-flex align-items-center">
      <input
        [(ngModel)]="registerRequest.password"
        [type]="showPassword ? 'text' : 'password'"
        class="form-control"
        id="password"
        placeholder="Password"
        #passwordRef="ngModel"
        minlength="8"
        required
      />
      <i
        class="fa"
        [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
        (click)="togglePassword()"
        style="position: absolute; right: 15px; cursor: pointer; color: #6c757d"
      ></i>
    </div>
    <div class="text-danger small mt-1" *ngIf="passwordRef.touched">
      <div *ngIf="passwordRef.errors?.['required']">Password is required.</div>
      <div *ngIf="passwordRef.errors?.['minlength']">
        Please enter 8 char password.
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between mb-3">
    <button (click)="register()" type="button" class="btn btn-primary">
      <i class="fas fa-sign-in-alt"></i>&nbsp;Register
    </button>
    <div class="d-flex align-items-center">
      <span>Already have an account?</span>&nbsp;
      <button (click)="login()" type="button" class="btn btn-link">
        Login
      </button>
    </div>
  </div>
</div>
