<div class="container-fluid card login-container">
  <br />
  <h3 class="text-center">Login</h3>
  <hr />
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Email address</label>
    <input
      [(ngModel)]="authRequest.email"
      #emailRef="ngModel"
      required
      email
      type="email"
      class="form-control"
      id="login"
      placeholder="abc@example.com"
    />
    <div
      class="text-danger small mt-1"
      *ngIf="emailRef.invalid && emailRef.touched"
    >
      <div *ngIf="emailRef.errors?.['required']">
        Email address is required.
      </div>
      <div *ngIf="emailRef.errors?.['email']">
        Please enter a valid email address.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <div class="position-relative d-flex align-items-center">
      <input
        [(ngModel)]="authRequest.password"
        #passwordRef="ngModel"
        minlength="8"
        [type]="showPassword ? 'text' : 'password'"
        class="form-control"
        id="password"
        placeholder="Password"
        required
      />
      <i
        class="fa"
        [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
        (click)="togglePassword()"
        style="position: absolute; right: 15px; cursor: pointer; color: #6c757d"
      ></i>
    </div>
    <div class="text-danger small mt-1" *ngIf="passwordRef.touched">
      <div *ngIf="passwordRef.errors?.['required']">Password is required.</div>
      <div *ngIf="passwordRef.errors?.['minlength']">
        Please enter 8 char password.
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <button (click)="login()" type="button" class="btn btn-primary">
      <i class="fas fa-sign-in-alt"></i>&nbsp;Sign in
    </button>
    <button (click)="forgotPassword()" class="btn btn-link">
      Forgot Password
    </button>
    <div class="d-flex align-items-center">
      <span>Don't have an account?</span>&nbsp;
      <button (click)="register()" type="button" class="btn btn-link p-0">
        Register
      </button>
    </div>
  </div>
</div>
